<html>

<head>
    <title>Feedback</title>
</head>
<style>
    .msgrev {
        margin: 2px;
        color: green;
        text-align: center;
    }

    #button {
        margin: 50px 250px;
        background-color: yellow;
        box-shadow: 0px 0px 10px 10px pink;
    }

    form {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 200px 50px;
        background-color: lightblue;
        box-shadow: 0px 0px 10px 10px orange;
    }
</style>

<body>
    <form action='/'>
        <h1 class=msgrev>{{message}}</h1>
        <h1 class=msgrev>Click ok to go to home page</h1>
        <button id=button>Click Ok</button>
    </form>
</body>

</html>